.footer {
  background: rgb(39, 38, 38);
  width: 100%;
  margin: 1.4rem 0 0 0;
  padding: 1.2rem 0;
}

.grid-3 {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  justify-content: center;
  align-items: center;
  text-align: center;
}

.socials-icon {
  display: inline;
}

.socials a .fab {
  border: 3px solid #ccc;
  border-radius: 25px;
  padding: 0.7rem 0.8rem;
  margin: 0 0.6rem;
}

@media (max-width: 780px) {
  .grid-3 {
    grid-template-columns: 1fr;
  }
}
